<%= render "shared/header", title: 'PAYMENTS', icon: 'arrow-back', link: root_path, logout: true %>

<div class="bg-white rounded-2 rounded-top-0 py-1 sticky-after-header shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-around">
        <p class="text-black-50 my-2">Movements for <%= @category.name %></p>
        <p class="text-black-50 my-2">Total Amount: <%= @total_amount %></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid site-content mt-3">
  <div class="row">
    <div class="col">
      <div id="payments" class="d-flex flex-column gap-3 mt-2">
        <% @movements.each do |movement| %>
          <ul class="bg-white border-0 p-3 list-unstyled rounded-2 shadow mb-0 d-flex flex-column gap-3 movement-list">
            <li class="dotted">
              <%= movement.name.titleize %>
            </li>
            <li>
              Date: <%= movement.created_at.strftime("%Y-%m-%d") %>
            </li>
            <li>
              <div class="d-flex justify-content-between">
                <p>TOTAL PAYMENT:</p>
                <p class=""><%=number_to_currency(movement.amount) %></p>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="btn-green p-2">
    <%= link_to "Add a New Transaction", new_category_movement_path(@category), class: "border-light btn btn-green w-100 my-1" %>
  </div>
</div>
