<%= form_with(model: @category, local: true) do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div>
    <%= form.select :icon, ICONS, { prompt: "Select an icon" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>
